.gameArea {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboardContainer {
  display: flex;
  border: 2px solid #054e5a;
  width: 360px;
  height: 360px;
  flex-wrap: wrap;
}

.gameboardPosition {
  width: 120px;
  height: 120px;
  background-color: #ced9d7;
  border: 2px solid #054e5a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #054e5a;
}

.gameboardPosition:hover {
  background-color: #e1b77e;
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: #054e5a;
  font-family: Tahoma;
}

.resetButton {
  padding: 10px;
  background-color: #e1b77e;
  border-radius: 5px;
  position: absolute;
  top: 6%;
  left: 3%;
}

.resetButton:hover {
  background-color: #eaab53;
}

.hidden {
  display: none;
}

.resultBanner {
  padding: 10px;
  background-color: #ced9d7;
  border-radius: 5px;
  border: 2px solid #054e5a;
  position: absolute;
  top: 20%;
  left: 3%;
  font-family: Tahoma;
}
